.BacklogEntry .game-note {
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.44);
}

.BacklogEntry .game-score {
  font-size: 2em;
}

.BacklogEntry .game-score-mobile {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  margin-left: 0.5ch;
  color: white;
  vertical-align: middle;
  text-align: center;
  font-size: 1em;
}
