.BacklogNav ul {
  padding-left: 0px;
}

.BacklogNav .nav {
  margin-bottom: 1em;
}

@media (max-width: 768px) {
  .BacklogNav li {
    width: 25%;
    text-align: center;
  }
  .BacklogNav .IconWithText-text {
    display: none;
  }
}
