.GamePage {
  margin-bottom: 10em;
}

.GamePage-header .GamePoster {
  width: initial;
  max-width: 100%;
  max-height: 600px;
}

.GamePage-game-name {
  font-size: 2rem;
  display: inline;
  font-weight: 500;
  line-height: 1.2;
  margin-right: 1rem;
}

.GamePage-release-date {
  font-size: 1.2em;
  line-height: 1.5em;
  margin-bottom: 0.2em;
}

.GamePage-release-date .badge {
  margin-left: 0.5ch;
  margin-right: 0.5ch;
}

.GamePage-video-container iframe {
  max-width: 100%;
}
