.GameList {
  display: flex;
  flex-wrap: wrap;
}

.GameListItem {
  display: flex;
  flex-flow: row;
  align-items: center;
  align-content: flex-start;

  max-width: 528px;
  width: min(100%, 528px);
  border: 1px solid;
  border-radius: 12px;
  border-color: lightgray;

  margin-bottom: 20px;
}

.GameListItem:hover {
  background-color: #fafafb;
  transform: translate3d(0px, -1px, 0px) perspective(1px);
  border-color: gray;
}

.GameListItem:hover .game-name a {
  text-decoration: underline;
}

.GameListItem .game-info {
  padding-left: 2ch;
  flex: 1;
  max-width: calc(100% - 106px);
}
.GameListItem .game-info p {
  margin-bottom: 0.5rem;
}

.GameListItem .game-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.GameListItem .game-name a {
  color: #131314;
  text-decoration: none;
}

.GameListItem .game-name small {
  color: rgba(0, 0, 0, 0.44);
  margin-left: 1ch;
}

.GameListItem .game-name small {
  color: rgba(0, 0, 0, 0.44);
  margin-left: 1ch;
}

.GameListItem .game-image {
  padding: 14px;
  background-color: #f3f4f4;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.GameListItem .GamePoster {
  width: 78px;
  height: 104px;
  border-radius: 3px;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px inset;
}

.GameListItem-game-info .IconWithText-text {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.9em;
}

.GameListItem-game-info .IconWithText svg {
  vertical-align: middle;
}

@media (min-width: 1100px) {
  .GameListItem {
    margin-right: 2ch;
  }
}
