.GamePage {
  margin-bottom: 10em;
}

.GamePage-header .GamePoster {
  width: initial;
  max-width: 100%;
  max-height: 600px;
}

.GamePage-short-description {
  margin-top: 0.5em;
}

.GamePage-release-date {
  font-size: 1.2em;
  line-height: 1.5em;
  margin-bottom: 0.2em;
}

.GamePage-platforms {
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 0.2em;
}

.GamePage-info div {
  margin-bottom: 0.5em;
}

.GamePage-extended {
  margin-top: 1em;
}

.GamePage-extended-header {
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}
