.GameListItem {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  align-content: flex-start;

  padding-bottom: 10px;
  padding-top: 10px;
  min-height: 150px;
}

.GameListItem .game-info {
  vertical-align: top;
}

.GameListItem .game-description {
  font-size: 1.2em;
  color: rgba(0, 0, 0, 0.44);
  margin-bottom: 0.5em;
  white-space: normal;
}

.GameListItem .game-platforms {
  white-space: normal;
}

.GameListItem .game-name {
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 500;
  display: inline;
  margin-right: 1rem;
}

.GameListItem .game-name small {
  color: rgba(0, 0, 0, 0.44);
  margin-left: 1ch;
}

.GameListItem .GamePoster {
  margin-right: 3ch;
}

@media (max-width: 573px) {
  .GameListItem {
    min-height: 75px;
  }

  .GameListItem .GamePoster {
    width: 50px;
    margin-right: 2ch;
  }

  .GameListItem .game-description {
    display: none;
  }
  .GameListItem .game-platforms {
    color: rgba(0, 0, 0, 0.44);
  }
  .GameListItem .game-name {
    font-size: 1em;
    white-space: normal;
  }
}
