.GlobalSearch input.form-control {
  border: 0;
  font-size: 4em;
  margin-top: 0.5em;
  height: inherit;
}

.GlobalSearch input.form-control:focus {
  border: 0;
  box-shadow: none;
}

.GlobalSearch .dropdown-menu {
  border: 0;
  margin-top: 1em;
  width: 100%;
}

.GlobalSearch .GlobalSearchLoading,
.Typeahead-empty {
  margin-top: 1em;
  font-size: 2em;
  color: rgba(0, 0, 0, 0.44);
}

@media (max-width: 573px) {
  .GlobalSearch input.form-control {
    font-size: 2em;
  }

  .GlobalSearch .SearchClose img {
    width: 2em;
  }
}
