.MyProfile {
  margin-top: 32px;
}

.MyProfile-header {
  display: flex;
  flex-flow: row;
  margin-bottom: 1em;
}

.MyProfile-header .Avatar {
  height: 100px;
  width: 100px;
  font-size: 32px;
  line-height: 32px;
  padding-top: 34px;
}

.MyProfile-name {
  font-size: 2em;
}

.MyProfile-edit-controls .btn {
  margin-right: 1ch;
}
