.Reviews-stats {
  display: flex;
  margin-top: 2em;
  margin-bottom: 1em;
}

.Reviews-stat {
  margin-right: 2ch;
  text-align: center;
}

.Review-stat-data .OpencriticTier {
  height: 75px;
}

.Review-stat-label {
  font-size: 1.2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.Reviews-point svg {
  margin-right: 1ch;
  vertical-align: bottom;
}

.Reviews-cards {
  display: flex;
  flex-wrap: wrap;
}
