.BacklogForm {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.BacklogForm .mb-3 {
  margin-right: 12px;
}

.BacklogForm button {
  cursor: pointer;
}

.BacklogForm label {
  color: rgba(0, 0, 0, 0.44);
}

.BacklogForm-remove {
  height: 38px;
}

@media (max-width: 768px) {
  .BacklogForm {
    justify-content: center;
  }
}
