name: pipeline-igroteka-frontend-cd

on:
  push:
    branches: ['master']

permissions:
  contents: read

env:
  FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}

jobs:
  deploy:
    name: job-igroteka-frontend-deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: superfly/flyctl-actions@1.1
        with:
          args: 'deploy'
